<div id="section2" class="uk-section uk-section-secondary">
  <div class="uk-container">
      <h3>Section Secondary</h3>
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      </div>
    </div>
  </div>
</div>
